
/* Agregar animación de entrada al cargar la página */
body {
    opacity: 0; /* Inicialmente, ocultamos el cuerpo de la página */
    animation: page-load 1s ease-in-out forwards;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   
    
    
}

@keyframes page-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para la sección de detalles de la obra */
.obra-details {
    background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    transition: box-shadow 0.3s, color 0.3s; /* Agregamos una transición de color */
    opacity: 0; /* Inicialmente, ocultamos el elemento */
   
   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.obra-details:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #0078f8; /* Cambiamos el color al pasar el ratón */
}

.obra-details img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    transform: scale(0.9); /* Escalamos la imagen inicialmente */
    transition: transform 0.3s;
}

/* Animación de entrada para .obra-details al cargar la página */
.obra-details.show {
    animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de entrada para letras */
.obra-details p {
    opacity: 0; /* Inicialmente, ocultamos las letras */
    animation: text-fade-in 0.5s ease-out 1s forwards;
    width: 70%;
   
}

@keyframes text-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



h2 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #333;
    transition: color 0.3s;
}

.obra-details:hover h2 {
    color: #007BFF;
}


.obra-details:hover p {
    color: #333;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;

}

a:hover {
    color: #0056b3;
}

/* Estilos para detalles avanzados */
#detallesAvanzados {
    font-size: 23px;
    text-align: left; /* Alinea el texto al centro */
    line-height: 1.6;
    color: #000000;
    transition: color 0.3s;
    border-radius: 10px;
 
  
    

    /* Centrar horizontal y verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c93a9; /* Fondo blanco */
}

#detallesAvanzados:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}





/* Estilo para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Estilo para los botones de zoom dentro de la ventana emergente */
.modal-content-container {
    text-align: center;
    position: relative;
}

/* Estilo para los botones de zoom dentro del contenedor */
#zoomInButton,
#zoomOutButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%; /* Coloca los botones en el centro verticalmente */
    transform: translateY(-50%); /* Alinea verticalmente al 50% del contenedor */
    z-index: 2; /* Z-index mayor para los botones */
}

#zoomInButton {
    left: 50px; /* Coloca el botón de zoom en el lado izquierdo */
}

#zoomOutButton {
    right: 50px; /* Coloca el botón de zoom en el lado derecho */
}

/* Estilo para la imagen en el modal */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;

    margin-top: 200px;
    
    z-index: 1; /* Z-index menor para la imagen */
}

/* Estilo para el botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}







/* estilos de pantalla celular tablet  */


@media screen and (max-width: 280px) {
    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: auto;
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:0;
        text-align: center;
        transition: box-shadow 0.3s;
        width: auto;
        height: 98vh;
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .obra-details h2 {
        margin-bottom: 0; /* Agregar margen inferior entre el título y la imagen */
    }
    
    .obra-details p {
        margin-bottom: 10px; /* Agregar margen inferior entre párrafos */
    }

    h2 {
        font-size: 1.4rem;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
    }

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: auto;
        height: auto;
    }
    p{
        font-size: 0.8rem;
        color: black;
        width: 100%;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;
    }

    #detallesAvanzados {
        margin-left: 0;
        padding: 15px 0px;
        color: white;
        background-color: #6b7b8c;
   
    }

    #detallesAvanzados:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    
    #detallesAvanzados {
        font-size: 0.7rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;
    }
    
    /* Estilo para los botones de zoom dentro del contenedor */
    #zoomInButton,
    #zoomOutButton {
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        position: absolute;
        top: 50%; /* Coloca los botones en el centro verticalmente */
        transform: translateY(-50%); /* Alinea verticalmente al 50% del contenedor */
        z-index: 2; /* Z-index mayor para los botones */
    }
    
    #zoomInButton {
        left: 50px; /* Coloca el botón de zoom en el lado izquierdo */
    }
    
    #zoomOutButton {
        right: 50px; /* Coloca el botón de zoom en el lado derecho */
    }
    
    /* Estilo para la imagen en el modal */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
        margin-top: 200px;
        transform: rotate(-90deg); /* Rota la imagen 90 grados en sentido antihorario */
        transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
        z-index: 1; /* Z-index menor para la imagen */
    }
    
    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
    
}

@media screen and (min-width: 281px) and (max-width: 350px) {

    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding: 0;
     
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:0;
        text-align: center;
        transition: box-shadow 0.3s;
        width: auto;
        height: 100vh;
        
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .obra-details h2 {
        margin-bottom: 2rem; /* Agregar margen inferior entre el título y la imagen */
    }
    
    .obra-details p {
        margin-bottom: 10px; /* Agregar margen inferior entre párrafos */
    }

    h2 {
        font-size: 1.4rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
        white-space: pre-wrap; /* Rompe palabras y permite el salto de línea */
        overflow-wrap: break-word; /* Controla el salto de línea entre letras y palabras */
    }
    

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: 18rem;
        height: auto;

        
    }
    p{
        font-size: 0.9rem;
        color: black;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;
    
    }

 
    
    #detallesAvanzados {
        font-size: 0.7rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
      
        
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;
    }
    
    /* Estilo para los botones de zoom dentro del contenedor */
    #zoomInButton,
    #zoomOutButton {
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        position: absolute;
        top: 50%; /* Coloca los botones en el centro verticalmente */
        transform: translateY(-50%); /* Alinea verticalmente al 50% del contenedor */
        z-index: 2; /* Z-index mayor para los botones */
    }
    
    #zoomInButton {
        left: 50px; /* Coloca el botón de zoom en el lado izquierdo */
    }
    
    #zoomOutButton {
        right: 50px; /* Coloca el botón de zoom en el lado derecho */
    }
    
    /* Estilo para la imagen en el modal */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
        margin-top: 200px;
        transform: rotate(-90deg); /* Rota la imagen 90 grados en sentido antihorario */
        transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
        z-index: 1; /* Z-index menor para la imagen */
    }
    
    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
   
}



@media  screen and (min-width:351px) and (max-width:440px) {
    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding: 0;
     
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:0;
        text-align: center;
        transition: box-shadow 0.3s;
        width: auto;
        height: 100vh;
        
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .obra-details h2 {
        margin-bottom: 0; /* Agregar margen inferior entre el título y la imagen */
    }
    
  

    h2 {
        font-size: 1.6rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
        white-space: pre-wrap; /* Rompe palabras y permite el salto de línea */
        overflow-wrap: break-word; /* Controla el salto de línea entre letras y palabras */
    }
    

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: 18rem;
        height: auto;
    }
    p{ 
      
         width: 20rem;
         gap: 20px;
         font-size: 1rem;
         color: black;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;
        
        

    }

 
    
    #detallesAvanzados {
        font-size: 1rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
        width: 17.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    
        
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;
    }
    
    
 /* Estilo para los botones de zoom dentro del contenedor */
#zoomInButton,
#zoomOutButton {
    background-color: #147ded;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s, opacity 0.1s; /* Agregamos transición a la opacidad */
    opacity: 0.3; /* Establecemos la opacidad inicial */
}

#zoomInButton:hover,
#zoomOutButton:hover {
    opacity: 0.8; /* Al pasar el mouse por encima, reducimos la opacidad */
}

#zoomInButton {
    left: 50px;
}

#zoomOutButton {
    right: 50px;
}

    
   /* Estilo para la imagen en el modal */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 200px;
    transform: rotate(-90deg) scaleY(-1); /* Rota la imagen 90 grados en sentido antihorario y refleja verticalmente */
    transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
    z-index: 1; /* Z-index menor para la imagen */
    cursor: pointer; /* Agregamos cursor pointer para indicar que la imagen es desplazable */
    overflow: auto; /* Agregamos desplazamiento cuando la imagen es más grande que la ventana modal */
}

    
    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
   
    
}

/* Estilos para pantallas medianas (441px - 600px de ancho) */
@media screen and (min-width: 441px) and (max-width: 600px) {
    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
        overflow-x: auto;
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding: 0;
     
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:0;
        text-align: center;
        transition: box-shadow 0.3s;
        width: auto;
        height: 100vh;
        
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .obra-details h2 {
        margin-bottom: 0; /* Agregar margen inferior entre el título y la imagen */
    }
    
    /* .obra-details p {
       /* Agregar margen inferior entre párrafos */
 

    h2 {
        font-size: 1.8rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
        white-space: pre-wrap; /* Rompe palabras y permite el salto de línea */
        overflow-wrap: break-word; /* Controla el salto de línea entre letras y palabras */
    }
    

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: 21rem;
        height: auto;
    }
    p{ 
      
         width: 22rem;
         margin: auto;
         font-size: 1rem;
         color: black;
         margin: 20px;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;

    }

 
    
    #detallesAvanzados {
        font-size: 1rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: scroll; 
        white-space: nowrap;
      
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;

        white-space: nowrap; 
    }
    
    
 /* Estilo para los botones de zoom dentro del contenedor */
#zoomInButton,
#zoomOutButton {
    background-color: #147ded;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s, opacity 0.1s; /* Agregamos transición a la opacidad */
    opacity: 0.2; /* Establecemos la opacidad inicial */
}

#zoomInButton:hover,
#zoomOutButton:hover {
    opacity: 0.1; /* Al pasar el mouse por encima, reducimos la opacidad */
}

#zoomInButton {
    left: 50px;
}

#zoomOutButton {
    right: 50px;
}

    
   /* Estilo para la imagen en el modal */
   .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 200px;
    white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
    transform: rotate(-90deg); /* Rota la imagen 90 grados en sentido antihorario */
    transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
    z-index: 1; /* Z-index menor para la imagen */
}

    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
   
}


/* Estilos para pantallas medianas-grandes (601px - 760px de ancho) */
@media screen and (min-width: 601px) and (max-width: 760px) {
    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
        overflow-x: auto;
        background-color: rgb(234, 229, 229);
        
       
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        
        height: auto;
     
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:auto;
        text-align: center;
        transition: box-shadow 0.3s;
        width: 70%;
        height: auto;
        border-radius: 2rem;
        justify-content: center;
        align-items: center;
    
        
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .obra-details h2 {
        margin-bottom: 0; /* Agregar margen inferior entre el título y la imagen */
    }
    
    .obra-details p {
        margin-bottom: 10px; /* Agregar margen inferior entre párrafos */
    }

    h2 {
        font-size: 1.8rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
        white-space: pre-wrap; /* Rompe palabras y permite el salto de línea */
        overflow-wrap: break-word; /* Controla el salto de línea entre letras y palabras */
    }
    

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: 21rem;
        height: auto;
    }
    p{ 
      
         width: 22rem;
         margin: auto;
         font-size: 0.9rem;
         color: black;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;

    }

 
    
    #detallesAvanzados {
        font-size: 1rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
        
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: scroll; 
        white-space: nowrap;
      
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;

        white-space: nowrap; 
    }
    
    
 /* Estilo para los botones de zoom dentro del contenedor */
#zoomInButton,
#zoomOutButton {
    background-color: #147ded;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s, opacity 0.1s; /* Agregamos transición a la opacidad */
    opacity: 0.2; /* Establecemos la opacidad inicial */
}

#zoomInButton:hover,
#zoomOutButton:hover {
    opacity: 0.1; /* Al pasar el mouse por encima, reducimos la opacidad */
}

#zoomInButton {
    left: 50px;
}

#zoomOutButton {
    right: 50px;
}

    
   /* Estilo para la imagen en el modal */
   .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 200px;
    white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
    transform: rotate(-90deg); /* Rota la imagen 90 grados en sentido antihorario */
    transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
    z-index: 1; /* Z-index menor para la imagen */
}

    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
   
}

/* Estilos para pantallas grandes (761px - 920px de ancho) */
@media screen and (min-width: 761px) and (max-width: 920px) {
    body {
        margin: 0; /* Elimina los márgenes por defecto del body */
        padding: 0; /* Elimina el relleno por defecto del body */
        overflow-x: auto;
        background-color: rgb(234, 229, 229);
       
        
       
    }

    main {
        width:auto;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        height:auto;
  
       
    }

    .obra-details {
        background: linear-gradient(to left , rgb(232, 227, 215), rgb(130, 134, 134));
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin:auto;
        text-align: center;
        transition: box-shadow 0.3s;
        width: 80%;
        height: auto;
        border-radius: 2rem;
        justify-content: center;
        align-items: center;
    
        
    }

    .obra-details:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .obra-details h2 {
        margin-bottom: 0; /* Agregar margen inferior entre el título y la imagen */
    }
    
    .obra-details p {
        margin-bottom: 10px; /* Agregar margen inferior entre párrafos */
    }
    h2 {
        font-size: 2rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 10px 0;
        color: #333;
        transition: color 0.3s;
        white-space: pre-wrap; /* Rompe palabras y permite el salto de línea */
        overflow-wrap: break-word; /* Controla el salto de línea entre letras y palabras */
    }
    

    .obra-details:hover h2 {
        color: #007BFF;
    }

    img{
        width: 21rem;
        height: auto;
    }
    p{ 
      
         width: 29rem;
         margin: auto;
         font-size: 1.3rem;
         color: black;
         gap: 1rem;
    }
    .obra-details:hover p{
        color:#333;

    }

    a {
        text-decoration: none;
        color: #092b90;
        transition: color 0.3s;
        font-size: 1.3rem;

    }

 
    
    #detallesAvanzados {
        font-size: 1.2rem;
        text-align: left; /* Alinea el texto al centro */
        line-height: 1.6;
        color: #000000;
        transition: color 0.3s;
        width: 23rem;
        margin-left: auto;
        margin-right: auto;
        
    
        /* Centrar horizontal y verticalmente */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c93a9; /* Fondo blanco */
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: scroll; 
        white-space: nowrap;
      
    }
    
    /* Estilo para los botones de zoom dentro de la ventana emergente */
    .modal-content-container {
        text-align: center;
        position: relative;

        white-space: nowrap; 
    }
    
    
 /* Estilo para los botones de zoom dentro del contenedor */
#zoomInButton,
#zoomOutButton {
    background-color: #147ded;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: background-color 0.3s, opacity 0.1s; /* Agregamos transición a la opacidad */
    opacity: 0.2; /* Establecemos la opacidad inicial */
}

#zoomInButton:hover,
#zoomOutButton:hover {
    opacity: 0.1; /* Al pasar el mouse por encima, reducimos la opacidad */
}

#zoomInButton {
    left: 50px;
}

#zoomOutButton {
    right: 50px;
}

    
   /* Estilo para la imagen en el modal */
   .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-top: 200px;
    white-space: nowrap; /* Evita que el contenido se divida en múltiples líneas */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
    transform: rotate(-90deg); /* Rota la imagen 90 grados en sentido antihorario */
    transform-origin: center; /* Define el punto de rotación en el centro de la imagen */
    z-index: 1; /* Z-index menor para la imagen */
}

    
    /* Estilo para el botón de cerrar */
    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
    }
}

/* Estilos para pantallas extra grandes (921px - 1080px de ancho) */
@media screen and (min-width: 921px) and (max-width: 1080px) {
    /* Agrega tus estilos para pantallas extra grandes aquí */
}

/* Estilos para pantallas muy grandes (1081px - 1240px de ancho) */
@media screen and (min-width: 1081px) and (max-width: 1240px) {
    /* Agrega tus estilos para pantallas muy grandes aquí */
}

/* Estilos para pantallas enormes (1241px - 1400px de ancho) */
@media screen and (min-width: 1241px) and (max-width: 1400px) {
    /* Agrega tus estilos para pantallas enormes aquí */
}

/* Estilos para pantallas gigantes (más de 1400px de ancho) */
@media screen and (min-width: 1401px) {
    /* Agrega tus estilos para pantallas gigantes aquí */
}